@use "./variables";

.homeContainer {
    text-align: center;
    margin: 20px;
}

.leftSide, .rightSide {
    border: 2px variables.$light-purple solid;
}

.animeColumns {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.animeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .animeContainerColumns {
        display: flex;                 
        flex-direction: column;        
        justify-content: space-between;
        border-radius: 10px;
        padding: 10px 10px 0 10px;
        width: 200px;
        text-align: center;
        background-color: rgba(variables.$light-purple, 0.25);
    }

    .animeImg{  
        width: 150px;
        height: 210px;
        border-radius: 10px;
        cursor: pointer;
        object-fit: cover; 
        margin: 0 auto;
    }

    .scoreText {
        margin-top: 2px;
        padding-bottom: 5px;
    }
}




