@use "./variables";

.searchbarContainer{
    display: flex;
    justify-content: center;
    gap: 5px;

    .btn{
        background-color: variables.$dark-purple;
        color: variables.$white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;

        &:hover{
            background-color: variables.$light-purple;
            transition: 0.5s ease-in-out;
        }

        .searchIcon{
            margin-left: 5px;
        }
    }


    .searchbarInput{
        font-size: 20px;
        border:none;
        border-bottom: 2px solid variables.$dark-purple;  
        text-align: center; 
        background-color: transparent;
        color: rgb(variables.$white, 0.75);
        
        &::placeholder {
            color: rgba(variables.$white, 0.5);
            opacity: 1; 
        }


        &:focus{
            outline: none;
            border-bottom: 2px solid variables.$light-purple;  
            transition: 0.5s ease-in-out;
        }
    }   
}