@use './variables';

.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;


    .leftCol {
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 5px;
 
        .backBtn, .homeBtn {
            background-color: variables.$dark-purple;
            color: variables.$white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;

            &:hover{
                background-color: variables.$light-purple;
                transition: 0.5s ease-in-out;
            }
        
        }
    }

    .centerCol {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        font-size: 30px;
        color: variables.$main-color;

        h1{
            background: linear-gradient(270deg, variables.$main-color, variables.$light-purple, variables.$dark-purple);
            background-size: 800% 800%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradientMove 10s ease infinite;
        }    
    }

    @keyframes gradientMove {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .rightCol{
        display: flex;
        align-items: center;

    }
}
