@use "./variables";

.userPanelTitle{
    color: variables.$light-purple;
    font-size: 35px;

}


.userPanelConfig{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: variables.$dark-purple;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;

    .userPanelForm{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        border: 3px variables.$light-purple solid;
        background-color: variables.$main-color;
        padding: 15px;
        margin-bottom: 30px;
    }

    .userPanelLabel{
        gap: 20px;
        color: variables.$dark-purple;
    }
}

.userPanelVideo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .swiper {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .swiper-button-next, .swiper-button-prev{
        display: flex;
        align-items: center;
        justify-content: center;
        color: variables.$dark-purple;

        &:hover{
            color: variables.$light-purple;
            transition: 0.5s ease-in-out;
        }
    }

    .swiper-pagination-bullet{
        background-color: variables.$dark-purple;
        opacity: 1;

        &.swiper-pagination-bullet-active{
            background-color: variables.$light-purple;
            transition: 0.5s ease-in-out;   
        }
         
    }
}